<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bee_nobg"
        android:label="BillBee"
        android:roundIcon="@drawable/bee_nobg"
        android:supportsRtl="true"
        android:theme="@style/Theme.Billmanagementapp"
        tools:targetApi="31">

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManagerCustomerTransactionView"
            android:exported="false"/>
        <activity
            android:name=".ManagerCustomerView"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ClientProfilePageActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterPageActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPageActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerDashboard"
            android:exported="false" />
        <activity
            android:name=".BillDetailsActivity"
            android:exported="true"/>
        <activity
            android:name=".ClientDashboard"
            android:exported="false" />
    </application>

</manifest>